<section class="block padded jaguar">
  <div class="container">
    <h1>What people are saying...</h1>
    <p class="case-referral-blockquote centered">Ethically minded security vulnerability sleuth with high attention to detail, professionalism and a creative flair for seeing angles many miss.</p>
    <p class="content-text alt">-Christopher Bunk, VP of Engineering at Even Financial <br> <a href="https://www.linkedin.com/in/glitchwitch/" class="btn btn-box alt icon-arrow">Read more recommendations</a></p>

    <!--<p class="case-referral-blockquote centered">At a prior company, I consulted with Glitch Witch to perform penetration testing of several web applications.  Her efforts resulted in finding multiple vulnerabilities that needed remediation. Working with Glitch Witch was a pleasure and I intend to request her services in the near future with the company I am now at. I highly recommend Glitch Witch for both her skills and value-added services.</p>
     <p class="content-text alt">-Edward Cohen, Director, Information Security at ChenMed LLC</p>-->
  </div>
</section>

<section class="case-referral row">

  <div class="inner-block padded-bottom column one-third-md jaguar">
    <div class="container">
      <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/shaw.png">
      <p class="case-referral-text">We would like to thank GlitchWitch [...] As a result of [their work], Shaw’s WiFi device management was able to make security advancements.</p>
      <p class="case-referral-author">Customer Protection Team, <br><strong><em>Shaw Communications Inc.</em></strong><br></p>
      <a href="/reports/7/" class="btn btn-box alt icon-arrow">Read more</a>
    </div>
  </div>

<div class="inner-block padded-bottom column one-third-md jaguar">
  <div class="container">
    <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/textnow.png">
    <p class="case-referral-text">TextNow appreciates GlitchWitch.io’s research and professionalism. [...] We were very happy with the final product and their work.</p>
    <p class="case-referral-author">Derek Ting, <em>CEO,<br><strong>TextNow Inc.</strong></em> <br></p>
    <a href="/blog/2018-02/textnow-security-update/" class="btn btn-box alt icon-arrow">Read more</a>
    </div>
  </div>

<div class="inner-block padded-bottom column one-third-md jaguar">
  <div class="container">
    <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/dhhs.svg" height="30px">
    <p class="case-referral-text">Thank you for your email and your help. [...] It is very much appreciated given the attention we have received.</p>
    <p class="case-referral-author">John Olah, <em>Head of Development and Technology,<br><strong>Department of Health and Human Services.</strong></em><br></p>
    <a href="/reports/4/" class="btn btn-box alt icon-arrow">Read more</a>
  </div>
</div>

</section>
