<section class="block padded jaguar">
  <div class="container">
    <h1>What people are saying...</h1>
    <p class="case-referral-blockquote centered">I worked with GlitchWitch as part of Assembly's first PenTest. It was an absolute pleasure to work with them. The test deeply covered all the required aspects and communication was stellar. Would definitely recommend GlitchWitch.</p>
     <p class="content-text alt">-Fernando Martin, <br><em>VP of Engineering, <strong>Assembly.</strong></em></p>
  </div>

  <div class="container">
    <p class="case-referral-blockquote centered"><small>It was a pleasure to work with GlitchWitch and their team. They were thorough, detailed in their report and supplied insightful recommendations. They also promptly answered our questions and tested our remediations measure just as quickly. Working with them was a very positive experience overall.</small></p>
     <p class="content-text alt"><small>-Jean-Martin Archer, <br><em>Staff Software Engineer, <strong>Alloy.</strong></em></small></p>
  </div>

  <div class="container">
    <p class="case-referral-blockquote centered"><small>I recently worked with GlitchWitch on a project. They were a pleasure to work with. The testing performed by GlitchWitch and their team was thorough, professionally prepared, and completed within a relatively tight timeline. I look forward to having the opportunity to work with them on future projects.</small></p>
     <p class="content-text alt"><small>-Ian Binder, <br><em>Director of Infrastructure, <strong>i360 llc.</strong></em></small></p>
  </div>

  <div class="container">
    <p class="case-referral-blockquote centered"><small>At a prior company, I consulted with GlitchWitch to perform penetration testing of several web applications. Their efforts resulted in finding multiple vulnerabilities that needed remediation. Working with GlitchWitch was a pleasure and I intend to request their services in the near future with the company I am now at. I highly recommend GlitchWitch for both their skills and value-added services.</small></p>
     <p class="content-text alt "><small>-Edward Cohen, <br><em>Director of IT and Security, <strong>Wellthy, LLC.</strong></em></small></p>
  </div>
</section>
