<section class="block padded jaguar">
  <div class="container">
    <p class="case-referral-blockquote centered">I was particularly impressed with your ability to put together such a high quality report operating as independently as you did.</p> <p class="content-text alt">-Chris Bunk, CTO, TextNow Inc.</p>
  </div>
</section>
<section class="case-referral row">

  <div class="inner-block padded-bottom column one-third-md jaguar">
    <div class="container">
      <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/shaw.png">
    <p class="case-referral-text">

      We would like to thank GlitchWitch [...] As a result of [their work], Shaw’s WiFi device management was able to make security advancements.

    </p>
    <p class="case-referral-author">Customer Protection Team, <br><strong><em>Shaw Communications Inc.</em></strong><br>

    </p>
    <a href="#" class="btn btn-box alt icon-arrow">Read more</a>

  </div>
</div>
<div class="inner-block padded-bottom column one-third-md jaguar">
  <div class="container">
    <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/textnow.png">
  <p class="case-referral-text">TextNow appreciates GlitchWitch.io’s research and professionalism. [...] We were very happy with the final product and their work.</p>
  <p class="case-referral-author">Chris Bunk, <em>CTO,<br><strong>TextNow Inc.</strong></em> <br>

  </p>    <a href="#" class="btn btn-box alt icon-arrow">Read more</a>

</div>
</div>

<div class="inner-block padded-bottom column one-third-md jaguar">
  <div class="container">
    <img alt="" class="services-panel-image inner-block-image contain" src="/assets/img/icons/quotes/dhhs.svg">
  <p class="case-referral-text">Thank you for your email and your help. [...] It is very much appreciated given the attention we have received.</p>
  <p class="case-referral-author">John Olah, <em>Head of Development and Technology,<br><strong>Department of Health and Human Services.</strong></em><br>
  </p>    <a href="#" class="btn btn-box alt icon-arrow">Read more</a>

</div>
</div>
</section>
