<style>form.wj-contact input[type="text"],form.wj-contact textarea[type="text"]{width:47%;vertical-align:middle;margin-top:0.25em;margin-bottom:0.5em;padding:0.75em;font-family:monospace, sans-serif;font-weight:lighter;border-style:solid;border-color:#444;outline-color:#2e83e6;border-width:1px;border-radius:3px;transition:box-shadow 0.2s ease}form.wj-contact input[type="submit"]{outline:none;color:white;background-color:#333;border-radius:3px;padding:0.5em;margin:0.25em 0 0;border:1px solid transparent;height:auto}</style>
<h2>Download Sample Report</h2>
<p>To acquire a copy of my sample pentest report, please use the following form.
  Alternatively you can take a look at my <a href="/reports/">publicly disclosed bug bounty reports.</a>
</p>
<form class="wj-contact" action="https://formspree.io/hello@glitchwitch.io" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email Address">
    <input type="hidden" name="_next" value="https://glitchwitch.io/pentest-report-download/">
    <input type="hidden" name="_subject" value="Website Inquiry: Sample Report">
    <input type="text" name="_gotcha" style="display:none">
    <br>
    <input type="submit" value="Download">
</form>
<p><small>Information submitted here is subject to the <a href="/privacy/">privacy policy</a> and is sent to <a href="https://formspree.io/">formspree.io</a>.</small></p>
<hr>
