<footer class="footer">
    <div class="container">
      <div class="footer-content row wrap">
        <div class="footer-logo-box column  clear-gutter-xl">
          <a class="footer-logo" href="{{ site.url }}/">{{ site.title }}</a>
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Get In Touch</p>
          {% if author.email %}<a href="mailto:{{ author.email }}" class="footer-link email">{{ author.email }}</a>{% endif %}
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Follow</p>
          <div class="footer-icon-box row wrap">
            {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" class="footer-icon-link" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
            {% if author.github %}<a href="https://github.com/{{ author.github }}" class="footer-icon-link" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
            {% if author.rss %}<a href="{{ site.url }}/{{ author.rss }}" class="footer-icon-link" target="_blank"><i class="fas fa-rss"></i></a>{% endif %}
          </div>
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Recent Posts</p>
          {% for post in site.posts limit:3 %}
          <a href="{{ site.url }}/{{ post.url }}" class="footer-link" target="_blank">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="footer-content row center">
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <p class="footer-text"><a href="/privacy/">Privacy Policy</a></p>
        </div>
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <p class="footer-text"><a href="/license/">CC BY-NC-SA 4.0</a></p>
        </div>
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <p class="footer-text"><a href="https://github.com/glitchwitchio/glitchwitch.io">View Source</a></p>
        </div>
      </div>
    </div>
</footer>
