.contact-content {
  &:last-of-type {
    margin-top: $textGap;
  }
}

.contact-group {
  align-self: flex-start;
  display: block;
  margin: $textGap*1.5 0 0;
  text-decoration: none;
  width: auto;
}

.contact-address-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  text-decoration: none;

  @include media('>=md') {
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact-title {
  @include text('gothic-a1', 18, 900, $charcoal);
  letter-spacing: 2px;
  margin: 0 0 $textGap*1.5;
  text-transform: uppercase;
}

.contact-heading {
  @include text('merriweather', 20, 300, $regent-grey);
  font-style: italic;
  margin: $textGap*2 0 $textGap;
}

.contact-text {
  @include text('merriweather', 14, 300, $charcoal);
  line-height: 2;
  margin: 0;
  max-width: 370px;
}

.contact-link {
  @include text('source-sans-pro', 22, 300, $regent-grey);
  display: inline-block;
  margin: 0;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }
}
