---
layout: default
---
{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

  <main class="wrapper">
    <header class="hero">
      <div class="container">
        <h1 class="hero-title">{{ page.title }}</h1>
        <p class="hero-text">{{ page.tagline }}</p>
      </div>
    </header>

    <section class="block padded white-smoke">
      <div class="container row">
        <div class="inner-block column one-third-md padded">
          <div class="contact-content">
            <p class="contact-title">{{ page.tagline2 }}</p>
            <p class="contact-text"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.text2 }}</p>
            <p class="contact-text"><a href="{{ site.url }}/blog/" class="contact-link">visit the blog</a></p>
          </div>
        </div>

        <div class="inner-block column one-third-md padded">
          <div class="contact-content">
            <p class="contact-title">{{ page.tagline3 }}</p>
            <p class="contact-text"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.text3 }}</p>
            <p class="contact-text"><a href="mailto:{{ author.email }}" class="contact-link">{{ author.email }}</a></p>
          </div>
        </div>

        <div class="inner-block column one-third-md padded">
          <div class="contact-content">
            <p class="contact-title">{{ page.tagline4 }}</p>
            <p class="contact-text"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.text4 }}</p>
            <p class="contact-text"><a href="https://twitter.com/{{ author.twitter }}" class="contact-link">@{{ author.twitter }}</a></p>
          </div>
        </div>
      </div>
    </section>
