---
layout: default
---
{% assign report = site.data.reports | where: 'id', page.report-id %} {% assign report = report[0] %}

{% assign epoch-date-reported = report.date | date: "%s" | divided_by: 86400 %}
{% assign epoch-date-patched = report.date-patched | date: "%s" | divided_by: 86400 %}
{% assign epoch-date-published = report.date-published | date: "%s" | divided_by: 86400 %}

    <main class="wrapper">
      <header class="hero">
        <div class="container">
          <h1 class="hero-title">Vulnerability Report for {{ report.vendor }}</h1>
          <p class="hero-text">
            {{ report.id }} - {{ report.type-long }} - {{ report.status }}
            {% if report.cvss %}<br><small><span title="CVSS3 Base Score: {{ report.cvss }}">CVSS3: <strong>{{ report.cvss }}</strong></span> - {{ report.cvss-string }}</small>{% endif %}
          </p>
        </div>
      </header>

      <section class="block column padded-bottom white-smoke">
        <div class="container">
          <div class="post-content">
            {% if report.date-published %}
              <p><em>This report was fully disclosed on {{ report.date-published | date: "%-d %B %Y" }}</em></p>
            {% elsif report.date-patched %}
              <p><em>This report is scheduled for public disclosure on {{ report.date | date: "%s" | plus: '3888000' | date: "%-d %B %Y" }}.</em></p>
            {% else %}
              <p><em>This report is scheduled for public disclosure on {{ report.date | date: "%s" | plus: '3888000' | date: "%-d %B %Y" }} or when the issue has been patched.</em></p>
            {% endif %}
            {{ content }}
            <h2 id="timeline">Timeline</h2>
              <ul>
                  <li><strong>{{ report.date | date: "%-d %B %Y" }}</strong>: Affected Party Notified</li>
                  {% if report.date-patched %}<li><strong>{{ report.date-patched | date: "%-d %B %Y" }}</strong>: Affected Party Released Patch <small><em>(+{{ epoch-date-patched | minus: epoch-date-reported }} days)</em></small></li> {% endif %}
                  {% if report.date-published %}<li><strong>{{ report.date-published | date: "%-d %B %Y" }}</strong>: Report Published <small><em>(+{{ epoch-date-published | minus: epoch-date-reported }} days)</em></small></li>{% endif %}
                  {% if report.bounty %}<li><strong>{{ report.bounty-date | date: "%-d %B %Y" }}</strong>: Rewarded with a ${{ report.bounty }} USD bounty</li>{% endif %}
                </ul>
          </div>
        </div>
      </section>
      {% if site.owner.disqus-shortname and page.comments == true %}
            <section class="comments-block padded">
              <div class="comments-content container">
                <hr>
                <div class="comments-text">
                  <p>Comments are provided by Disqus. To respect user privacy and reduce page size, Disqus is only loaded on user prompt.<br><br></p>
                  <button id="show-comments" class="btn btn-text icon-arrow" onclick="disqus();return false;">SHOW COMMENTS</button>
                  <div id="disqus_thread"></div>
                  {% include disqus.html %}
                </div>
              </div>
            </section>
      {% endif %}
      {% include sections/cta-reports.html %}
